---
label: 'Bunny Stream overview'
top_level: true
---
<h2>{% trans %}What is Bunny Stream?{% endtrans %}</h2>
<p>{% trans %}Bunny Stream is one of the services provided by Bunny.net company. This service allows upload videos and stream them using the CDN that they provide.{% endtrans %}</p>
<h2>{% trans %}About this module{% endtrans %}</h2>
<p>{% trans %}This module provides integration to embed public and private videos from Bunny.net using Media integration.{% endtrans %}</p>
<p>{% trans %}You can create videos in bunny.net, and add to Drupal using the UUID of the video.{% endtrans %}</p>
<h2>{% trans %}Features{% endtrans %}</h2>
<ul>
  <li>{% trans %}Embed public and private videos.{% endtrans %}</li>
  <li>{% trans %}Video thumbnail download for public and private videos.{% endtrans %}</li>
  <li>{% trans %}Configuration options for video player from field formatter.{% endtrans %}</li>
  <li>{% trans %}Media library support to create videos.{% endtrans %}</li>
  <li>{% trans %}Support for webhooks.{% endtrans %}</li>
  <li>{% trans %}Log all the status changes of your videos with the submodule "Bunny Stream logger".{% endtrans %}</li>
</ul>
<h2>{% trans %}Additional resources{% endtrans %}</h2>
<ul>
  <li>{% trans %}<a href="https://bunny.net/stream/">Official Bunny.net Stream page</a>{% endtrans %}</li>
  <li>{% trans %}<a href="https://docs.bunny.net/reference/api-overview/">Bunny.net Stream API documentation</a>{% endtrans %}</li>
</ul>
